* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background: url('./images/background2.jpg');
    /* background-image: linear-gradient(white, grey);*/
}

.header {
    width: 100%;
    height: 100px;
    /*background-color: rgb(65, 171, 88);*/
    font-size: 50px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

.navbar {
    width: 100%;
    height: 80px;
    /*background-color: rgb(161, 201, 169);*/
    display: block;
}

.aside {
    width: 20%;
    height: 300px;
    /*background-color: rgb(8, 42, 14);*/
    float: left;
    clear: left;
}

.main {
    width: 80%;
    height: 300px;
    /*background-color: rgb(82, 162, 98);*/
    float: right;
    clear: right;
}

.footer {
    width: 100%;
    height: 80px;
    /*background-color: rgb(186, 195, 188);*/
    clear: both;
}

.main-content {
    margin: 50px;
    padding: 50px;
    border: 5px solid red;
    /*background-color: blanchedalmond;*/
}

.chatgpt-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
}

.aside p {
    background-color: aquamarine;
    font-size: 20px;
    line-height: 20px;
}

.aside a {
    display: block;
    background-color: aquamarine;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}

.tabel1 thead tr th {
    font-weight: bold;
    background-color: brown;
}

.tabel1 tbody tr td {
    background-color: blue;
}

.tabel1 tr {
    border: 2px solid black;
}

.table1 {
    border-spacing: 0;
}

.list1 li {
    background-color: blueviolet;
    margin-bottom: 5px;
}


/* specificity rule
 = same selector pripority goose to last one
 = diffrent selector pripority goes to  */


/* media query 
mobile-max width -780px
tab - 800px-1300px
desktop - 1300px and above
*/


/*for mobile*/

@media screen and (max-width:480px) {
    .aside {
        width: 100%;
    }
    .main {
        width: 100%;
    }
}


/*for tab*/

@media screen and (min-width:480px) and (max-width:1300px) {
    .aside {
        width: 100%;
    }
    .main {
        width: 100%;
    }
}